{% extends 'base.html.twig' %}

{% block title %}EDP Dashboard!{% endblock %}

{% block body %}

    {% set current = forecastAt|date('Y-m-d') %}
    {% set prev = forecastAt|date_modify('-1 day') %}
    {% set next = forecastAt|date_modify('+1 day') %}

    <div class="container">
        <h1 class="text-center">{{ forecastAt|date('Y-m-d') }}</h1>
        <p class="text-center">
            {% if prev > date('today') %}
                <a href="{{ path('app_dashboard', {date:prev|date('Y-m-d') }) }}">Prev</a> |
            {% endif %}
            <a href="{{ path('app_dashboard', {date:next|date('Y-m-d') }) }}">Next</a>
        </p>
        {% for station in stations %}
            <h2>{{ station.name }}</h2>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" colspan="3">Equipment</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Booked Quantity</th>
                    <th scope="col">Available Quantity</th>
                </tr>
                {% for equipment in station.equipment %}
                    <tr>
                        <td scope="row">{{ equipment.name }}</td>
                        <td>{{ equipment.bookedQuantity }}</td>
                        <td>
                            <span class="{{ equipment.availableQuantity < 0 ? 'text-danger' : 'text-dark' }}">{{ equipment.availableQuantity }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col" colspan="3">Campervans</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Booked Quantity</th>
                    <th scope="col">Available Quantity</th>
                </tr>
                {% for campervan in station.campervans %}
                    <tr>
                        <td scope="row">{{ campervan.name }}</td>
                        <td>{{ campervan.bookedQuantity }}</td>
                        <td>
                            <span class="{{ campervan.availableQuantity < 0 ? 'text-danger' : 'text-dark' }}">{{ campervan.availableQuantity }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}

    </div>
{% endblock %}