{% extends 'base.html.twig' %}
{% block title %}EDP Index{% endblock %}
{% block body %}

    <div class="container">
        <h1>Welcome to EDP!</h1>
        <p>
            API Stations endpoint <a href="{{ path("api_stations") }}">{{ path("api_stations") }}</a><br>
            API Inventory endpoint <a href="{{ path("api_inventory",{date: "now"|date("Y-m-d")}) }}">{{ path("api_inventory",{date: "now"|date("Y-m-d")}) }}</a><br>
            Dashboard <a href="{{ path("app_dashboard_index") }}">{{ path("app_dashboard_index") }}</a><br>
            Please copy the openapi specification under: <i>./app/docs/api_doc.yaml</i> and <b>paste</b> it in <a href="https://editor.swagger.io/" target="_blank">Swagger Editor</a><br>
            Code Coverage under: <i>./var/coverage/index.html</i> (Spoiler alert... not great.)
        </p>
    </div>
{% endblock %}
